@charset "utf-8";
/*맑은고딕웹폰트로드(폰트 사용할곳에font-family:Malgun Gothic,"돋움", Arial, Tahoma, Verdana, AppleGothic, sans-serif;추가)*/
/*@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");*/
/* CSS Document */
html,body{width:100%;}
html{overflow-y:scroll;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,tr,td,thead,tbody,form,fieldset,legend,input,textarea,button{margin:0;padding:0;}
body{font-size:14px;font-family:Malgun Gothic,"돋움", Arial, Tahoma, Verdana, AppleGothic, sans-serif;padding:0;margin:0;color:#3a3a3a;}
ul,ol,li,dl,dt,dd {list-style:none;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}
button{position:relative;}
hr,legend {display:none;}
img,fieldset,iframe {border:none;vertical-align:middle;}
textarea{font-family:Malgun Gothic,"돋움", Arial, Tahoma, Verdana, AppleGothic, sans-serif;}
select{font-family:Malgun Gothic,"돋움", Arial, Tahoma, Verdana, AppleGothic, sans-serif;}
caption {text-indent: -999999999999999999px;}
input,select,button{vertical-align:middle;}
button{border:none;}
table{border:none; padding:0; border-collapse:separate; border-spacing:0; *border-collapse:collapse; }
a{text-decoration:none;color:#5a5b5d;}
a:link,a:visited,a:active,a:focus{text-decoration:none;}
a:hover{text-decoration:none;}
.blind {display:block;overflow:hidden;top:-1000em;position:absolute;}

.clear {clear:both;}
/*기본*/ 
#wrap{width:100%;}
#header{position:relative; z-index:9998;}
#container{position:relative}
#container:after{display:block;clear:both;content:''}
/*#footer{}*/

/*공통부분*/
input[type=text], input[type=password] {background:#fff;border:1px solid #c9c9c9;height:20px;padding:0 5px 0 5px;line-height:22px}
input[type=text]:hover, input[type=password]:hover, input[type=text]:focus, input[type=password]:focus {border:1px solid #909090;}
input[type=checkbox], input[type=radio] {margin-top:-1px;margin-bottom:1px;}
textarea{border:1px solid #c9c9c9;padding:5px;}
select{border:1px solid #c9c9c9;height:22px;padding:2px 2px 2px 6px;vertical-align:middle;}

/*페이징*/
.board_num_list{width:100%;text-align:center;margin:10px 0;}
.board_num_list a{display:inline-block;height:23px;line-height:23px;margin:0 2px;font-family:Malgun Gothic,"돋움", Arial, Tahoma, Verdana, AppleGothic, sans-serif;}
.board_num_list a:hover{text-decoration:none;}
.board_num_list a.num{padding:0 6px;background:#fff;border:1px solid #e2e2e2;font-weight:bold;}
.board_num_list a.num:hover, .board_num_list a.on{background:#5f5f5f;color:#fff;border:1px solid #5f5f5f;}
.board_num_list a.prev_all{vertical-align:top;overflow:hidden;line-height:9999px;width:23px;border:1px solid #e2e2e2;font-weight:bold;background:#fff url('../../img/sub/b_prev_all.html') 8px 7px no-repeat;}
.board_num_list a.prev{vertical-align:top;overflow:hidden;line-height:9999px;width:23px;border:1px solid #e2e2e2;font-weight:bold;background:#fff url('../../img/sub/b_prev.html') 8px 7px no-repeat;}
.board_num_list a.next_all{vertical-align:top;overflow:hidden;line-height:9999px;width:23px;border:1px solid #e2e2e2;font-weight:bold;background:#fff url('../../img/sub/b_next_all.html') 8px 7px no-repeat;}
.board_num_list a.next{vertical-align:top;overflow:hidden;line-height:9999px;width:23px;border:1px solid #e2e2e2;font-weight:bold;background:#fff url('../../img/sub/b_next.html') 8px 7px no-repeat;}
.board_num_list a.prev_all:hover,.board_num_list a.prev:hover,.board_num_list a.next:hover,.board_num_list a.next_all:hover{border:1px solid #5f5f5f}